# Sample circusd service file
# On Ubuntu 15.10 and later you need to drop it in
# /etc/systemd/system/idealoom.service
# And then run
# systemctl enable idealoom

[Unit]
Description=idealoom circusd

[Service]
Environment=LC_CTYPE=C.UTF-8
# These are the lines you have to modify for your environment. This Idealoom is running under the idealoom_user user.
Environment=IDEALOOM_PATH=/home/idealoom_user/idealoom
User=idealoom_user
Group=www-data

Type=simple
Restart=on-failure
ExecStart=/bin/bash -c 'cd $IDEALOOM_PATH; . venv/bin/activate; exec circusd circusd.conf'
ExecStop=/bin/bash -c 'cd $IDEALOOM_PATH; . venv/bin/activate; timeout 20s circusctl --endpoint=ipc://var/run/circus_endpoint stop ; circusctl --endpoint=ipc://var/run/circus_endpoint quit'

KillMode=control-group
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target

