#Reference: http://nedbatchelder.com/code/coverage/config.html

[run]
source = assembl/

omit = */test_*.py
       */tests.py
       assembl/tests/*
       assembl/alembic/versions/*
       assembl/lib/*

[html]

directory = assembl/.coverage_html/

[xml]

output = coverage.xml
