alabaster==0.7.10
alembic==0.9.9
amqp==2.2.2
anyjson==0.3.3
anykeystore==0.2
argh==0.26.2
Babel==2.5.3
-e git+https://github.com/conversence/Beaker.git@assembl#egg=Beaker
beautifulsoup4==4.6.0
billiard==3.5.0.3
boto==2.48.0
botocore==1.9.21
bz2file==0.98
celery==4.1.0
certifi==2018.1.18
cffi==1.11.5
Chameleon==3.2
chaussette==1.3.0
circus==0.14.0
-e git+https://github.com/maparent/circus-web.git@p3#egg=circus_web
colander==1.4
colorama==0.3.9
colour==0.1.5
contextlib2==0.5.5
cornice==3.1.0
cornice_sphinx==0.3
cov-core==1.15.0
coverage==4.5.1
cryptography==2.2.2
cssselect==1.0.3
cssutils==1.0.2
DateTime==4.2
# distribute==0.7.3 # This fails with latest pip. Installed properly as a dependency.
docutils==0.14
dogpile.cache==0.6.5
ecdsa==0.13
et-xmlfile==1.0.1
facebook-sdk==1.0.0  # rq.filter: <2
feedparser==5.2.1
flaky==3.4.0
#Because mock 2.0.0 requires it, but it isn't always detected properly
funcsigs==1.0.2
future==0.16.0
gensim==3.4.0
google-api-python-client==1.6.6
greenlet==0.4.13
-e git+https://github.com/maparent/hashfs.git@use_makedirs#egg=hashfs
hiredis==0.2.0
html5lib==1.0.1
httplib2==0.11.3
hupper==1.1
idna==2.6
imagesize==1.0.0
IMAPClient==2.0.0
ipaddress==1.0.19
ipykernel==4.8.2
ipython-genutils==0.2.0
iowait==0.2
iso639==0.1.4  # failure with 0.1.3
isodate==0.6.0
-e git+https://github.com/conversence/jasmine-splinter-runner.git#egg=jasmine-splinter-runner
jedi==0.11.1
jdcal==1.3
Jinja2==2.10
jsonpath-ng==1.4.3
jupyter-client==5.2.3
jupyter-core==4.4.0
-e git+https://github.com/FreeDiscovery/jwzthreading.git@master#egg=jwzthreading
kombu==4.1.0
-e git+https://github.com/maparent/langdetect.git@no_sample#egg=langdetect
lingua==4.13
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
mock==2.0.0
ndg_httpsclient==0.4.4
nodeenv==1.3.0
nose==1.3.7
numpy==1.14.2
#oauthlib==2.0.2
oauth2client==4.1.2
openpyxl==2.5.1
paramiko==2.4.1
PasteDeploy==1.5.2
pathlib2==2.3.0
pathtools==0.1.2
PdbSublimeTextSupport==0.2
pexpect==4.4.0
pickleshare==0.7.4
plaster-pastedeploy==0.5
plaster==1.0
polib==1.1.0
premailer==3.1.1
psutil==5.4.3
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.2
pyasn1_modules==0.2.1
pycparser==2.18
pydot==1.2.4
Pygments==2.2.0
pygraphviz==1.3.1
pyIsEmail  # 1.3.1 was pushed to pypi as "v1.3.1", which confuses pip.
dnspython==1.15.0   # must come after pyisemail?
PyJWT==1.6.1
pylibmc==1.5.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
# Until https://github.com/SurveyMonkey/pyramid_autodoc/pull/12 is merged
-e git+https://github.com/matthewnorman/pyramid_autodoc@sphinx_161_no_domains_v2#egg=pyramid_autodoc
-e git+https://github.com/assembl/pyramid_beaker.git@assembl#egg=pyramid_beaker
pyramid-debugtoolbar-ajax==0.1.0
pyramid-debugtoolbar==4.4
pyramid-dogpile-cache==0.0.4
pyramid-ipython==0.2
pyramid-jinja2==2.7
pyramid-mailer==0.15.1
pyramid-mako==1.0.2
pyramid-retry==0.5
pyramid-tm==2.2
pyramid==1.9.1
PyStemmer==1.3.0
pytest-cov==2.5.1
pytest-localserver==0.4.1
pytest-mock==1.7.1
pytest-splinter==1.8.5
pytest==3.5.0
# upgrade blocked by botocore
python-dateutil==2.6.1  # rq.filter: <2.7
python-json-logger==0.1.8
python-openid==2.2.5
python-snappy==0.5.2
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
raven==6.6.0
rdflib-jsonld==0.4.0
rdflib==4.2.2
reg==0.11
redis==2.10.6
repoze.lru==0.7
repoze.sendmail==4.4.1
requests-oauthlib==0.8.0
requests==2.18.4
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.1
selenium==3.11.0
simplejson==3.13.2
six==1.11.0
smart-open==1.5.7
snowballstemmer==1.2.1
social-auth-core==1.7.0
social-auth-app-pyramid==1.0.0
social-auth-storage-sqlalchemy==1.1.0
-e git+https://github.com/assembl/sockjs-tornado.git@conflicting_localhost#egg=sockjs_tornado
SPARQLWrapper==1.8.1
sphinxcontrib-httpdomain==1.6.1
sphinxcontrib-zopeext==0.2.1
Sphinx==1.7.2
splinter==0.7.7
SQLAlchemy==1.2.6
-e git+https://github.com/maparent/sqlalchemy-utils.git@abstract_generic#egg=sqlalchemy_utils
-e git+https://github.com/conversence/sqlalchemy-rdfbridge.git#egg=sqlalchemy-rdfbridge
sqlalchemy-schemadisplay==1.3
sqlparse==0.2.4
-e git+https://github.com/assembl/sqltap.git@assembl#egg=sqltap
structlog==18.1.0
tomako==0.1.0.post1
tornado==4.5.3  # rq.filter: <5
-e git+https://github.com/maparent/tornadio2.git@session_id_str#egg=tornadIO2
traitlets==4.3.2
transaction==2.2.1
translationstring==1.3
Unidecode==1.0.22
uritemplate==3.0.0
uwsgitop==0.10
venusian==1.1.0
waitress==1.1.0
watchdog==0.8.3
webencodings==0.5.1
WebOb==1.7.4
WebTest==2.0.29
Werkzeug==0.14.1
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==1.0
# To be watched:
# https://github.com/elliotpeele/pyramid_oauth2_provider
