-e git+https://github.com/conversence/pyoembed.git@async#egg=pyoembed
-e git+https://github.com/conversence/sockjs.git@juanjoa#egg=sockjs
cchardet==2.1.7
aiocache==0.11.1
aiocontextvars==0.2.2 ; python_version < '3.7'
aiohttp==3.7.3
# aiohttp-cors==0.7.0

# Those chrouter reqs repeat requirements in requirements.in, keep in sync.
PyJWT==2.0.1
pytz==2020.5
pyzmq==22.0.2
sentry-sdk==0.19.5
simplejson==3.17.2
