-e git+https://github.com/conversence/Beaker.git@assembl#egg=Beaker
-e git+https://github.com/FreeDiscovery/jwzthreading.git@master#egg=jwzthreading
-e git+https://github.com/maparent/langdetect.git@no_sample#egg=langdetect
-e git+https://github.com/assembl/pyramid_beaker.git@assembl#egg=pyramid_beaker
-e git+https://github.com/maparent/sqlalchemy-utils.git@abstract_generic#egg=sqlalchemy_utils
-e git+https://github.com/conversence/sqlalchemy-rdfbridge.git#egg=sqlalchemy-rdfbridge
alembic==1.5.2
anyjson==0.3.3
Babel==2.9.0
beautifulsoup4==4.9.3
celery==5.0.5
circus==0.17.1
colander==1.8.3
colorama==0.4.4
colour==0.1.5
coloredlogs==15.0
contextlib2==0.6.0.post1
cornice==5.0.3
cryptography==3.3.1
Fabric3==1.14.post1
facebook-sdk==3.1.0
feedparser==6.0.2
future==0.18.2
gensim==3.8.3
google-api-python-client==1.12.8
hashfs==0.7.2
hiredis==1.1.0
IMAPClient==2.2.0
imaplib2==2.45.0
iso639==0.1.4  # failure with 0.1.3
isodate==0.6.0
Jinja2==2.11.2
jsonpath-ng==1.5.2
lingua==4.14
lxml==4.6.2
nodeenv==1.5.0
ndg_httpsclient==0.5.1
openpyxl==3.0.6
pip-tools==5.5.0
polib==1.1.0
premailer==3.7.0
psycopg2-binary==2.8.6
pygraphviz==1.6
pyIsEmail  # 1.3.1 was pushed to pypi as "v1.3.1", which confuses pip.
PyJWT==2.0.1
pylibmc==1.6.1
pyramid==1.10.5
pyramid-dogpile-cache==0.0.4
pyramid-jinja2==2.8
pyramid-mailer==0.15.1
pyramid-retry==2.1.1
pyramid-tm==2.4
PyStemmer==2.0.1
python-dateutil==2.8.1
python-json-logger==2.0.1
python-Levenshtein==0.12.1
pytz==2020.5
PyYAML==5.4.1
pyzmq==21.0.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
redis==3.5.3
reg==0.12
requests-oauthlib==1.3.0
requests==2.25.1
rotate-backups==8.1
scikit-learn==0.24.1
semantic-version==2.8.5
sentry-sdk==0.19.5
simplejson==3.17.2
six==1.15.0
social-auth-core[all]==4.0.3
social-auth-app-pyramid==1.0.0
social-auth-storage-sqlalchemy==1.1.0
SPARQLWrapper==1.8.5
sqlalchemy==1.3.22
sqlalchemy-schemadisplay==1.3
structlog==20.2.0
transaction==3.0.1
translationstring==1.4
Unidecode==1.1.2
uwsgitop==0.11
werkzeug==1.0.1
zope.component==4.6.2
zope.interface==5.2.0
zope.sqlalchemy==1.3

# are any of those really needed?
# ecdsa==0.13.3
# greenlet==0.4.10
# anykeystore==0.2
# DateTime==4.1.1
# ipykernel==4.3.1
# argh==0.26.2
# funcsigs==1.0.2
# html5lib==1.0.1
# ipaddress==1.0.22
# ipykernel==4.9.0
# iowait==0.2
# nose==1.3.7
# oauth2client==4.1.3
# pathlib2==2.3.2
# pathtools==0.1.2
# pickleshare==0.7.4
# watchdog==0.9.0
# webencodings==0.5.1
