-e git+https://github.com/conversence/jasmine-splinter-runner.git#egg=jasmine-splinter-runner
codecov==2.1.3
mock==4.0.2
pytest-cov==2.9.0
pytest-localserver==0.5.0
pytest-mock==3.1.0
pytest-splinter==2.0.1
pytest==5.4.2
WebTest==2.0.35

# Do I still need this?
# cov-core==1.15.0
