# Until https://github.com/SurveyMonkey/pyramid_autodoc/pull/12 is merged
-e git+https://github.com/matthewnorman/pyramid_autodoc@sphinx_161_no_domains_v2#egg=pyramid_autodoc
cornice_sphinx==0.3
# https://github.com/Cornices/cornice.ext.sphinx/issues/22
Sphinx==3.1.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-zopeext==0.2.4
sqlalchemy-schemadisplay==1.3
