{% extends 'base.jinja2' %}

{% block main_js %}
    <script src="{{ STATIC_URL }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        show_mailbox();
    </script>
{% endblock %}

{% block content %}
    {% for error in errors %}
        <p class="msg-error" style="color:red">{{ error }}</p>
    {% endfor %}

<table onload="show_mailbox()">
  <tr>
    <td>
      <h2>{% trans %}Create a discussion{% endtrans %}</h2>
      <form method="post" action=".">
	<p>
	  <label for="topic">{% trans %}Topic{% endtrans %}</label>
	  <input type="text" name="topic" id="topic" value="{{ topic }}"/>
	</p>
	
	<p>
	  <label for="slug">{% trans %}Slug{% endtrans %}</label>
	  <input type="text" name="slug" id="slug" value="{{ slug }}"/>
	</p>

    <p>
      <label for="homepage">{% trans %}Homepage (optional){% endtrans %}</label>
      <input type="text" name="homepage" id="homepage" value="{{ homepage }}"/>
    </p>

    <p>
      <label for="public_discussion">{% trans %}Public discussion{% endtrans %}</label>
      <input type="checkbox" name="public_discussion" id="public_discussion" checked=checked />
    </p>

    <p>
      <label for="mailbox">{% trans %}IMAP Mailbox{% endtrans %}</label>
      <select type="choice" name="imap_mailbox" id="imap_mailbox" onchange="show_mailbox();">
        {% if can_create_mailbox %}
        <option value="auto" {% if imap_mailbox=='auto' %} selected {% endif %}>{% trans %}Autocreate{% endtrans %}</option>
        {% endif %}
        <option value="setup" {% if imap_mailbox=='setup' %} selected {% endif %}>{% trans %}Setup{% endtrans %}</option>
        <option value="none" {% if imap_mailbox=='none' %} selected {% endif %}>{% trans %}None{% endtrans %}</option>
      </select>
    </p>

    <div id="mailbox_config">

	<h3>Mailbox configuration</h3>

	<p>
	  <label for="source_name">{% trans %}Source Name{% endtrans %}</label>
	  <input type="text" name="source_name" id="source_name" value="{{ source_name }}"/>
	</p>

	<p>
	  <label for="host">{% trans %}IMAP host{% endtrans %}</label>
	  <input type="text" name="host" id="host" value="{{ host }}"/>
	</p>

	<p>
	  <label for="port">{% trans %}IMAP Port{% endtrans %}</label>
	  <input type="text" name="port" id="port" value="{{ port }}"/>
	</p>

	<p>
	  <label for="use_ssl">{% trans %}use SSL? (leave off if you use STARTTLS){% endtrans %}</label>
	  <input type="checkbox" name="use_ssl" id="use_ssl" />
	</p>

    <p>
      <label for="admin_sender">{% trans %}Admin sender email{% endtrans %}</label>
      <input type="text" name="admin_sender" id="admin_sender" value="{{ admin_sender }}"/>
    </p>

	<p>
	  <label for="folder">{% trans %}IMAP Folder{% endtrans %}</label>
	  <input type="text" name="folder" id="folder" value="{{ folder }}"/>
	</p>

	<p>
	  <label for="username">Username</label>
	  <input type="text" name="username" id="username"  value="{{ username }}"/>
	</p>

	<p>
	  <label for="password">Password</label>
	  <input type="password" name="password" id="password"/>
	</p>

    <p>
      <label for="mailing_list_address">Mailing list address (if not empty, object will be a Mailing list instead of a mailbox)</label>
      <input type="text" name="mailing_list_address" id="mailing_list_address"/>
    </p>

    </div>

	<p>
	  <input type="submit" value="Create"/>
	</p>
      </form>
    </td>
    <td>
      <h2>{% trans %}Discussions already on the server{% endtrans %}</h2>
      <ul class="discussionlist">
        {% for discussion in discussions %}
        <li><a href='{{ discussion.get_url() }}'>{{ discussion.topic }}</a></li>
        {% else %}
        <em>{% trans %}There are no discussions on this server yet{% endtrans %}</em>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>


<script type="text/javascript">
function show_mailbox() {
    var choice = document.getElementById("imap_mailbox");
    console.log(choice)
    var config = $('#mailbox_config');
    if (choice.value == "setup") {
        config.show();
    } else {
        config.hide();
    }
}
</script>

{% endblock %}
