_extends = /opt/idealoom/configs/docker.rc
db_database = idealoom1_docker
db_user = idealoom1_docker
db_password = idealoom1_docker

raven_url =
handler_sentry__args = ()
filter:raven__dsn =
first_admin_email = me@example.com
