
// Adds a gray dot before the word
// ========
#onlinedot {
    vertical-align: top;
    width: 100%;
    .dot-offline {
      display: inline-block;
      line-height: $theme_header_height;
      float: left;
    }

    .dot-online {
        display: none;
    }
}


// Online version
// **********
#onlinedot.is-online {

    &:before {
        background-color: #13a89e;
    }

    .dot-offline {
        display: none;
    }

    .dot-online {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      line-height: $theme_header_height;
    }

}
