<form class="core-form" id="source-settings">
  <fieldset class="prl">

    <div class="control-group">
      <label for="name" class="control-label">{{ gettext("Name") }}</label>
      <div class="controls">
        <input type="text" id="name" class="input-xxlarge" value="<%= name %>">
      </div>
    </div>

  	<div class="control-group">
  		<label for="url" class="control-label">{{ gettext("URL") }}</label>
  		<div class="controls">
  			<input type="text" id="url" class="input-xxlarge" value="<%= url %>">
  		</div>
  	</div>

    <div class="control-group">
      <label for="parser_full_class_name" class="control-label">{{ gettext("Parser class") }}</label>
      <div class="controls">
          <select id="parser_full_class_name">
            <% _.map(parserClasses, function(classname) { %>
              <option value="<%= classname %>"
                <% if (classname == parser_full_class_name) { print('selected'); } %>
              ><%= classname %></option>
            <% });%>
          </select>
      </div>
    </div>

  </fieldset>
	<div class="form-actions">
		<button class="btn btn-primary js_saveSource fr" type="submit">{{ gettext("Save changes") }}</button>
	</div>
</form>
